@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Poppins&display=swap');
.navbar{
  background-image: linear-gradient(to right,#672280 ,#A626D3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.navbar h2{
  font-size: 30px;
  font-family: 'Inter';
}
.navbar-txt{
  display: flex;
margin: 10px;
}

.navbar-txt h1{
  font-size: 50px;
  margin-left: 30px;
  font-family: 'Karla';
}

.form-ctn{
align-items: center;
text-align: center;

}
.form-ctn input{
  display: inline-flex;
  width: 700px;;
  height: 85px;
  font-size: 30px;
  font-weight: 500;
  margin: 30px;
 text-indent: 10px;
}

.form-btn{
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 60em;
  height: 75px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,#672280 ,#A626D3);
  color: white;
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid #D5D4D8;
  font-weight: 900;
}

.meme-img{
  max-width: 100%;
  margin-top: 40px;
}